*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: #000;
}




                /* titulo */
.titulo{
    background-color: #7573c9;
    box-shadow: 1px 1px 3px #7573c9;
    text-align: center;color: white;
    box-shadow: 2px 2px 5px black;
}


            /* formulario */


.formulario #add{
    margin-top: 20px;
    position: relative;
    text-align: center;
}
.formulario{
    position: relative;
}

.formulario #add  input{
    width: 50%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.formulario #add label{
    margin-left: 25%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.formulario #add input:focus~label,
 .bformularioox_user #add input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.formulario #btn{
    margin-left: 30%;
    padding: 10px 26px;
    background-color: #03e9f4;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #02b0b9;
}
.formulario #btn:hover{
    box-shadow: 1px 1px 40px #02b0b9;
}






.tabela{
    margin-top: 50px;
    margin-left: 10%;
}

table, th, td{

border-collapse: collapse;
padding: 5px 2px 5px 2px;

}
table{
width: 100px;
}
.conteudo{
align-items: left;

}
.acoes{
text-align: center;
}

.titu{
border-top-left-radius: 10px;

}
.tituu{
border-top-right-radius: 10px;

}


th{
background-color: #2EA9FE;
}
td{
background-color: white;
color: s;
border: 1px solid #444;
padding: 10px;
}
tr:hover{
background-color: #5e84e2;
}
.bbtt{
border: none;
background-color: transparent;
}





.tabelas{
    display: flex;

    justify-content: center;
}

.tabelas .txt{
    color: white;
    font-size: 2em;
    position: relative;
}

.tabelas  p{
    color: white;
    margin-left: 30px;
    font-size: 2em;
    justify-content: center;

}

#novo{
    text-decoration: none;
    color: #BEFCFF;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
#novo:hover{
    text-shadow: 2px 2px 30px #BEFCFF;
}

ion-icon{
    text-decoration: none;
    color: #000;
}
a  {
    text-decoration: none;
  
}
.multi{
    color: #000;
}